@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    text-align: center;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}
.hero-bg{
    background: #36b7df url("../img/orange.png") ;
    color: white;
    background-size: cover;
    font-weight: bold;
    padding: 5px ;
    
}
.top{
    animation: fadeIn 3s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-2em);

    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}          
.hero-heading{
    margin-top: 80px;
}
.hero-heading h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Montserrat','sans-serif';
    margin-bottom: 50px;

} 
.hero-heading h1 span{
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
    

}
h1 span::before {
    content: ' ';
    position: absolute;
    width: 3em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}
.hero-heading p{
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
    
}
.hero-bg a {
    margin-bottom: 100px;

    color: white;
    text-decoration: none;
}
.form-container{
    background-color: white;
    margin: 0px -2px;
    padding: 1px;
    border-radius: 8px ;
    
}
label{
    color: #2D7D98;
    display: block;
    margin: 30px 0 30px;
}
form p {
    color: #a4a4a4;
    font-size: small;
    font-weight: 100;
}
input[type=text]{
   border-radius: 8px;
   padding: 10px;
   border: 1px solid #707070;
   width: 100%;
   box-sizing: border-box;
}
input[type=button]{
    background-color: #f89104;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: transparent;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
}
input[type=button]:hover{
    background-color: #b66e03 ;

}
.authentic .authentic-right h2{
    font-weight: bold;
    font-size: 30px;
}

.authentic .authentic-right h2 span{
    text-decoration: underline solid 4px #00bfff  ;
}
.authentic .authentic-right p{
    font-weight: 100;
    color: #898a93;
    line-height: 1.6;
    font-size: small;
}
img{
    width: 100%;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}
.animate-overlay {
    animation: overlay 3s forwards;
}
@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media(min-width:700px){
    .authentic{
        display: flex;
        flex-direction: row-reverse;
    }
    .hero-bg{
        text-align: left;
        padding: 20px 200px 150px 60px;
        margin:  0px;    
    }
    
    img{
        width: 50%;
    }
    .authentic-right{
        width: 50%;
    }

    form{
        display: flex;
    }
    .form-container{
        
    }
    input[type=button]{
    width: 50%;
    margin: 80px 20px 50px;
    }
    .form-container .left{ 
        width: 50%; 
        margin: 4px 40px 20px;
                 
    }
   
}